<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration SYSTEM 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>  
  
    <session-factory>  
   <property name="hibernate.dialect">org.hibernate.dialect.MySQlDialect</property>
      
       <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/notetaker</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Tuka@9665</property>  
           
                   
        <property name="show_sql">true</property>		
        <property name="format_sql">true</property>
        <property name="cache_support">true</property>
        <property name="hbm2ddl.auto">update</property>
   
    <mapping class="com.entities.Note"/> 
   
  
      
    </session-factory>  
 </hibernate-configuration>  